



<%= form_for(@tutor) do |f| %>
   

  
<div class="col-md-4 col-md-offset-4">




<form>


  <div class="center row">

      <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="form-group">     
          <div class="field">
              <label for="name">Nombre</label><br>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <%=f.text_field :nombre,:maxlength => 25, placeholder: "NOMBRE"%>       
          </div>
        </div>      
      </div>

    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="form-group">
          <div class="field">
              <label for="name">Apellido</label><br>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <%=f.text_field :apellido,:maxlength => 25,placeholder: "APELLIDO"%>       
          </div>
        </div>
      
    </div>

          


  </div>

  <div class="center row">
      <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="form-group">
          <div class="field">
              <label for="name">Rut</label><br>
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
              <%=f.text_field :rut,:maxlength => 10, placeholder: "FORMATO: 12345678-9"%>       
          </div>
        </div>
      
      </div>

    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="form-group">
          <div class="field">
              <label for="name">Celular</label><br>
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
              <%=f.text_field :celu,:maxlength => 9,placeholder: "CELULAR 9 DIGITOS"%>       
          </div>
        </div>
      
    </div>
  </div>

  <div class="center row">
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="form-group">
          <div class="field">
              <%= f.label :email %><br>
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <%= f.text_field :email ,placeholder: "CORREO ELECTRONICO"%>
          </div>
        </div>
    </div>
  </div>

  <div class="center row">
      <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="form-group">
          <div class="field">
              <%= f.label :carrera %><br>
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
              <%= f.select(:carrera, options_for_select([['Ingeniería Civil Electrónica/Mecánica','Ingeniería Civil Electrónica/Mecánica'],['Ingeniería Informática/Civil en Computación ', 'Ingeniería Informática/Civil en Computación'], ['Ingeniería Industrial/Civil Industrial', 'Ingeniería Industrial/Civil Industrial'],['Ingeniería Química/Química Industrial/Biotecnología','Ingeniería Química/Química Industrial/Biotecnología'], ['Ingeniería en Geomensura/Transporte y Tránsito','Ingeniería en Geomensura/Transporte y Tránsito'],['Otro','Otro']]), {  prompt: 'Seleccione Carrera' }) %>
          </div>
        </div>
      
      </div>
  </div>

  <div class="center row">
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="form-group">
          <div class="field">
              <%= f.label :asignatura %><br>
              <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
              <%= f.select(:asignatura, options_for_select([['Algebra I', 'Algebra I'], ['Calculo I', 'Calculo I'],['Química General', 'Química General'], ['Física Clásica', 'Física Clásica'], ['Otro', 'Otro']]), {  prompt: 'Seleccione Asignatura a realizar' }) %>
          </div>
        </div>
    </div>
  </div>

<br>



  <div class="center row">
          <button type="submit" class="btn btn-default btn-lg" style="border-color:#27ae60; border:groove; color:#27ae60;" >
           <div class = "col-xs-12 col-sm-6 col-md-12">
                <span class="glyphicon glyphicon-thumbs-up"> ENVIAR</span>
                
                </button>
           </div>
  </div>


</form>
<br>
<br>

</div>

<br>
<div class="col-md-10 col-md-offset-1">
<div  class="jumbotron">   
        
          <div class="row center ">
          <p><a style="color:#FFFFFF;" class="btn btn-primary btn-sm"href="https://videotutores.herokuapp.com/" >Volver</a></p>             
          </div>  

</div>
</div>



<% end %>

